body {
  font-size: 1.2em;
  margin-top: 20px;
}

.complete {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mypage_button {
  width: 200px;
  text-align: center;
  border: 2px solid lightgrey;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}