body {
  margin: 20px;
  font-size: 1.2em;
}

.form_label {
  margin: 20px 0px 0px 0px;
}

input {
  border: solid 1px lightgrey;
  width: 200px;
}

.register{
  margin: 20px 0px 0px 0px;
  cursor: pointer;
}