body{margin:20px;font-size:1.2em}.form_label{margin:20px 0px 0px 0px}input{border:solid 1px lightgrey;width:200px}.logout_button{width:200px;text-align:center;border:2px solid lightgrey;cursor:pointer}.login_button{width:200px;text-align:center;border:2px solid lightgrey;margin:20px 0px 0px 0px;cursor:pointer}
